<div class="header-container">
    <div class="header">
        <div class="h-img-con">
            <img src="../../assets/images/tvm-header-logo.png" class="h-img" alt="TVMAZE" />
        </div>
        <div class="h-search">
            <div class="h-search-action">
                <input type="text" placeholder="search shows" class="h-search-input" />
            </div>
            <div class="h-search-button-container">
                <button type="submit" class="h-search-button">Search</button>
            </div>
        </div>
        <div class="h-actions">
            <div class="h-actions-item">
                <span class="h-action-text">Login</span>
            </div>
            <div class="h-actions-item">
                <span class="h-action-text">Register</span>
            </div>
        </div>
    </div>
</div>
<div class="menu-container">
    <div class="menu">
        <ul class="menu-list">
            <li routerLink="ent/shows" class="menu-item">Shows</li>
            <li routerLink="ent/people" class="menu-item">People</li>
            <li routerLink="ent/networks" class="menu-item">Networks</li>
            <li routerLink="ent/webchannels" class="menu-item">Web Channels</li>
            <li routerLink="ent/articles" class="menu-item">Articles</li>
            <li routerLink="ent/schedule" class="menu-item">Schedule</li>
            <li routerLink="ent/calender" class="menu-item">Calender</li>
            <li routerLink="ent/countdown" class="menu-item">Countdown</li>
            <li routerLink="ent/forums" class="menu-item">Forums</li>
        </ul>
    </div>
</div>